<div class='overview'>
  <div class='card card-green'>
    <div class='header'>
      Available Buddies
    </div>
    <div class='content'>
      {{#paper-list}}
        {{#each userListItems as |buddy|}}
          {{#paper-item class='item'}}
            <img src={{buddy.profile_img}} alt={{buddy.name}} class="md-avatar">
            <div class="md-list-item">
              <div class='primary'>{{buddy.name}}</div>
              <div class='secondary'>{{buddy.email}}</div>
            </div>
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    </div>
  </div>
  {{map-element}}
</div>
