<div id="application">
{{#paper-toolbar}}
{{#paper-toolbar-tools}}
    {{nav-logo}}
    {{!-- {{#paper-button
        onClick=(action 'toggleSidenav')
        iconButton=true}}
    {{paper-icon "menu"}}
    {{/paper-button}} --}}
    <h2>
    Diabuddy
    </h2>
    <span class="flex"></span>
    {{#paper-menu as |menu|}}
  {{#menu.trigger}}
  {{#paper-button iconButton=true}}
  {{paper-icon "more_vert"}}
  {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}
    {{#each items as |item|}}
      {{#content.menu-item onClick=(action item.action item)}}
        {{paper-icon item.icon}}
        <span>{{item.title}}</span>
      {{/content.menu-item}}
    {{/each}}
  {{/menu.content}}
{{/paper-menu}}
{{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#if session.currentUser}}
    {{!-- All sidenav --}}
    {{#paper-sidenav-container class="sidenav"}}
        {{#paper-sidenav
            class="md-whiteframe-z2"
            name="sidenav"
            lockedOpen=lockedSidenav
            onToggle=(action (mut sidenav))}}
            {{#paper-content padding=true}}
            {{#paper-list}}
            {{#paper-item class='user-info'}}
              <img class='md-avatar' src="assets/images/avatar.png"/>
              {{session.currentUser.displayName}}
            {{/paper-item}}
            {{#link-to "overview"}} {{#paper-item}}Overview{{/paper-item}}{{/link-to}}
            {{#link-to "dashboard"}} {{#paper-item}}Dashboard{{/paper-item}}{{/link-to}}
            {{#paper-item target="_blank" href='https://nicholaslewanowicz.typeform.com/to/oIOojW'}}iOS Beta! <div class="chip chip--primary">New!</div>{{/paper-item}}

            {{!-- {{#paper-item onClick=(action "toggleExpandedItem" "expandBuds")}}Buddies{{/paper-item}}
                <div class="subitems">
                {{#if expandBuds}}
                    {{#each buddies as |buddy|}}
                        {{#link-to buddy.uid}}{{#paper-item onClick=(action 'selectedBuddies' buddy.uid)}}{{buddy.name}}{{/paper-item}}{{/link-to}}
                    {{/each}}
                {{/if}}
                </div> --}}
            {{#paper-item target="_blank" href='https://github.com/diabuddy'}}Github{{/paper-item}}
            {{#paper-item onClick=(action 'toggleAboutUs')}}About Us{{/paper-item}}
            {{/paper-list}}
            {{/paper-content}}
        {{/paper-sidenav}}

        {{!-- Content for subroutes --}}
        <div class={{concat "outlet-content layout-fill layout-column layout-align-start-center" (if sidenav " sidenav-off" " sidenav-on")}}>
            {{liquid-outlet class="layout-fill"}}
        </div>
    {{/paper-sidenav-container}}
{{else}}
    {{outlet}}
{{/if}}
</div>

{{#if aboutModal}}
  {{#paper-dialog class="flex-77"  clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>About the Dev Team</h2>
        <span class="flex"></span>
        {{#paper-button onClick=(action 'toggleAboutUs') iconButton=true }}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
        <div class="layout layout-align-center">
        {{#each team as |dev|}}
        <div class="layout-column layout-align-center-center">
        <div class="bs profile-photo">
            <img alt={{dev.name}} src={{concat "assets/images/" dev.photo}}/>
        </div>
        <h4>{{dev.name}}</h4>
        <h5>{{dev.role}}</h5>
        <a href={{dev.linkedIn}}>LinkedIn</a>
        </div>
        {{/each}}
        </div>
        <p class="description">
          This project was concieved, designed, and implemented at the `HackingHealth Hackathon`. After an intense 36 hours of work we are left with a surprisingly polished and functional iOS and web app. If you have any questions feel free to reach out to us on our linkedIn or through the emails on github.
        </p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      {{!-- {{#paper-button href="http://en.wikipedia.org/wiki/Mango" target="_blank"}}More on Wikipedia{{/paper-button}} --}}
      <span class="flex"></span>
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
