{{#if session.currentUser}}
    {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
        {{#paper-button
            onClick=(action 'toggleSidenav')
            iconButton=true}}
        {{paper-icon "menu"}}
        {{/paper-button}}
        <h2>
        Diabuddy
        </h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true}}
        {{paper-icon "favorite"}}
        {{/paper-button}}
        {{#paper-button iconButton=true}}
        {{paper-icon "more_vert"}}
        {{/paper-button}}
    {{/paper-toolbar-tools}}
    {{/paper-toolbar}}


    {{!-- All sidenav --}}
    {{#paper-sidenav-container class="sidenav"}}
        {{#paper-sidenav
            class="md-whiteframe-z2"
            name="sidenav"
            lockedOpen=lockedSidenav
            onToggle=(action (mut sidenav))}}
            {{#paper-content padding=true}}
            {{#paper-list}}
            {{#link-to "overview"}} {{#paper-item}}Overview{{/paper-item}}{{/link-to}}
            {{#link-to "dashboard"}} {{#paper-item}}Dashboard{{/paper-item}}{{/link-to}}
            {{#paper-item onClick=(action "toggleExpandedItem" "expandBuds")}}Buddies{{/paper-item}}
                <div class="subitems">
                {{#liquid-if expandBuds}}
                    {{#each buddies as |buddy|}}
                        {{#paper-item onClick=(action 'selectedBuddies' buddy.uid)}}{{buddy.name}}{{/paper-item}}
                    {{/each}}
                {{/liquid-if}}
                </div>
            {{/paper-list}}
            {{/paper-content}}
        {{/paper-sidenav}}

        {{!-- Content for subroutes --}}
        <div class={{concat "outlet-content" (if sidenav " sidenav-off" " sidenav-on")}}>
            {{outlet}}
        </div>
    {{/paper-sidenav-container}}
{{else}}
    {{outlet}}
{{/if}}
