<div id='dashboard' class="toLeft">
  {{banner-card selectedRange=selectedRange selectedBuddies=selectedBuddies class='card banner bs'}} 
  <div class="charts layout-row">
    {{#each userScores as |user|}}
    <div class='card card-blue chart'>
      <div class='header'>
        {{user.name}}'s Progress
      </div>
      <div class='content'>
        {{score-progress data=user}}
      </div>
    </div>
    {{/each}}
  </div>
  {{!-- This is where our data cards go --}}
  <div class="charts layout-row">
    <div class='card card-blue chart'>
      <div class='header'>
        Insulin Chart Plot
      </div>
      <div class='content'>
        {{insulin-shot-plot class='dashboard-card' insulinValues=insulinUnit}}
      </div>
    </div>
    <div class='chart card card-red'>
      <div class='header'>
        Blood Sugar Plot
      </div>
      <div class='content'>
        {{blood-sugar-plot class='dashboard-card' bloodSugar=glucoseUpdate}}
      </div>
    </div>
  </div>
  <div class="charts layout-row">
    <div class='chart card card-orange'>
      <div class='header'>
        Reward Board
      </div>
      <div class='content'>
        {{score-board class='dashboard-card'}}
      </div>
    </div>
  </div>
  {{userScores}} {{outlet}}

</div>