<div id='dashboard' class="toLeft">
  {{banner-card selectedRange=selectedRange selectedBuddies=selectedBuddies class='card banner bs'}} 
  {{!-- This is where our data cards go --}}
  <div class="charts layout-row">
    <div class='card card-blue chart'>
      <div class='header'>
        Insulin Chart Plot
      </div>
      <div class='content'>
        {{insulin-shot-plot class='dashboard-card' insulinValues=insulinUnit}}
      </div>
    </div>
    <div class='chart card card-red'>
      <div class='header'>
        Blood Sugar Plot
      </div>
      <div class='content'>
        {{blood-sugar-plot class='dashboard-card' bloodSugar=glucoseUpdate}}
      </div>
    </div>
  </div>
  <div class="charts layout-row">
    <div class='card card-blue chart'>
      <div class='header'>
        Daily Score Progress
      </div>
      <div class='content layout-align-center-center'>
        {{score-progress data=userScores}}
      </div>
    </div>
    <div class='card card-green chart flex-70'>
      <div class='header'>
        Activity Feed
      </div>
      <div class='content'>
        {{activity-list data=userActivity}}
      </div>
    </div>
  </div>
  <div class="charts layout-row">
    <div class='chart card card-orange'>
      <div class='header'>
        Reward Board
      </div>
      <div class='content'>
        {{score-board class='dashboard-card'}}
      </div>
    </div>
  </div>
  {{userScores}} {{outlet}}

</div>